<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:ital@1&display=swap"
        rel="stylesheet">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- fontsawesome cdn -->
    <script src="https://kit.fontawesome.com/c035598f8c.js" crossorigin="anonymous"></script>


    <!-- my stylesheet -->
    <link rel="stylesheet" href="./css/home.css">

</head>

<body>

    <h1 class="center-align heading"><%= title%></h1>

    <!-- this container div will hold the whole todo list -->
    <div id="container">
        <form action="/add-task" method="POST">

            <!-- div for adding title of the task -->
            <div class="card">
                <h6 class="card-subtitle mb-2 text-muted">TITLE</h6>
                <input type="text" name="title" class="form-control" placeholder="What's the title ?" required>
            </div>

            <!-- div for adding description of the task -->
            <div class="card">
                <h6 class="card-subtitle mb-2 text-muted">DESCRIPTION</h6>
                <textarea class="form-control" name="desc" placeholder="Write description here" required></textarea>
            </div>

            <!-- this div is for category and due-date heading -->
            <div>

                <div class="category-card">
                    <span class="text-muted">CATEGORY</span>
                </div>

                <div class="due-date-card">
                    <span class="text-muted">DUE-DATE</span>
                </div>

            </div>

            <!-- this div is for drop down list of category and due date input -->
            <div>

                <div class="category-card">
                    <select class="custom-select" name="cat">
                        <option value="Personal">Personal</option>
                        <option value="Professional">Professional</option>
                        <option value="Academics">Academics</option>
                        <option value="Social">Social</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="due-date-card">
                    <input type="date" name="date" required>
                </div>

            </div>

            <!-- this div is for priority heading  -->
            <div class="due-date-card">
                <span class="text-muted center-align">PRIORITY</span>
            </div>

            <!-- this div is for select list for priority input -->
            <div>
                <select class="custom-select" name="p">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="0">Null</option>
                </select>
            </div>

            <!-- this action button container div contains delete task and add task button -->
            <!-- i have closed the enclosed a form till add task button -->

            <!-- and has enclosed delete task button wihthin another form to get checkboxes id to delete the task -->

            <div class="action-button-container">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="fas fa-plus"></i> Add Task</button>
        </form>
        <!-- form ended here :for adding data -->

        <!-- started another form for deleting the task via getting id of the task via their checkboxes -->
        <form action="/delete-task" method="get" class="aform">
            <button class="btn btn-danger btn-lg" type="submit">
                <i class="fas fa-trash-alt"></i> Delete Task </button>
    </div>
    <!-- this is the end of the action button container (which was to hold action buttons) -->

    <!-- checked if the list is empty or not..if not empty then print tasks in form of cards -->
    <!-- else no task available message will be printed -->
    <% if(todo_list.length!=0){ %>

    <!-- loop to iterate over the tasks-->
    <% for(let i of todo_list) { %>

    <!-- this div with task-card class holds the task  -->

    <!-- this task card div is further divided into 3 divs inline flex divs-->

    <!-- 1. tick box  to hold checkbox-->
    <!-- 2. task-body to hold task details -->
    <!-- 3. tag-box to hold category and priority tags of the task -->

    <div class="card task-card">
        <div class="tick-box">
            <input type="checkbox" class="select-task" id="checkbox" name="<%= i._id%>">
        </div>

        <div class="card-body task-body">
            <h5 class="card-title "><%= i.title %></h5>
            <p class="text-muted"><%= i.desc %></p>
            <p class="text-muted"><i class="far fa-calendar-alt"></i> <%= i.date %></p>
        </div>

        <div class="tag-box">

            <!-- *********giving colors to baddges according to their priority******** -->

            <% if(i.p=='1') {%>
            <h5><span class="badge badge-danger">P : <%= i.p %></span></h5>
            <% }%>

            <% if(i.p=='2') {%>
            <h5><span class="badge badge-warning">P : <%= i.p %></span></h5>
            <% }%>

            <% if(i.p=='3') {%>
            <h5><span class="badge badge-info">P : <%= i.p %></span></h5>
            <% }%>

            <% if(i.p=='0') {%>
            <h5><span class="badge badge-light">P : NULL</span></h5>
            <% }%>

            <!-- *********giving colors to baddges according to their category******** -->

            <% if(i.cat=='Personal') {%>
            <h4><span class="badge badge-info"> <%= i.cat %> </span></h4>
            <% }%>

            <% if(i.cat=='Professional') {%>
            <h4><span class="badge badge-success"> <%= i.cat %> </span></h4>
            <% }%>

            <% if(i.cat=='Academics') {%>
            <h4><span class="badge badge-primary"> <%= i.cat %> </span></h4>
            <% }%>

            <% if(i.cat=='Social') {%>
            <h4><span class="badge badge-dark"> <%= i.cat %> </span></h4>
            <% }%>

            <% if(i.cat=='Other') {%>
            <h4><span class="badge badge-default"> <%= i.cat %> </span></h4>
            <% }%>

        </div>

    </div>


    <% } %>
    <% } %>

    <!-- if task list is empty then no task added message will be printed -->
    <% if( todo_list.length==0 ) {%>
    <h1 style="text-align: center;">No task Added Yet!</h1>

    <% } %>
    </div>

    </form>

    <!-- bootstrap js files  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>